*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}
#navContainer{
    height: 40rem;
    width: 100%;
    background-image: url(portfolio.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    margin: 10px 144px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.header-text{
    margin-top: 20%;
    margin-left: 50px;
}
#about{
    display: flex;
    justify-content: space-between;
}
#about img{
    height: 15rem;
    width: 30rem;
    margin: 5%;
    border-radius: 5%;
}
#about img:hover{
    transform: translateY(1rem);
}
#about .container h1{
    margin-top: 10%;
    margin-left: 50px;
}
#about .container p{
    margin: 5px 50px;
}
#contactDiv .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
    height: 20rem;
    width: 100%;
    margin: 10px;
}
#contactDiv .container1 h1{
    margin: 10px;
}
#contactDiv .container1 input{
    margin-left: 10px;
}
#contactDiv .container1 textarea{
    margin-left: 10px;
    width: 10.5rem
}
#contactDiv .container1 button{
    margin-left: 60px;
    height: 20%;
    width: 10%
}
#contactDiv .container1 button:hover{
    background-color: rgb(245, 45, 45);
    color: white;
}
#contactDiv .container2{
    margin: 50px;
}
#contactDiv .container2 h3 a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
#contactDiv .container2 p{
    margin: 10px
}
#contactDiv .container2 button{
    margin-left: 10px;
}
#contactDiv .container2 button a{
    text-decoration: none;
    color: black;
}
#contactDiv .container2 button a:hover{
    background-color: rgb(240, 55, 55);
    color: white;
}
#service{
    padding: 30px 0;
    display: inline;
    align-items: center;
    justify-content: space-between;
}
#service .container .cnt{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
#service .container h1{
    text-align: center;
}
#service .container .cnt .cnt1{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
#service .container .cnt .cnt1:hover{
    background-color: rgb(250, 65, 65);
}
#service .container .cnt .cnt2{
    width: 400px;
    height: 200px;
    border-radius: 5px
}
#service .container .cnt .cnt2:hover{
    background-color: rgb(250, 65, 65);
}
#service .container .cnt .cnt3{
    width: 400px;
    height: 200px;
    border-radius: 5px
}
#service .container .cnt .cnt3:hover{
    background-color: rgb(250, 65, 65);
}
#service .container h2{
    font-size: 25px;   
    margin: 15px;
    text-align: center;
}
#service .container p{
    margin: 15px;
}
#service .container .cnt a{
    text-decoration: none;
    color: white;
    margin: 20px 20px;
}
.footer{
    height: 50px;
    background-color: rgb(245, 45, 45);
    text-align: center;
}
